.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
.button_save {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
.button_save:hover {
    background-color: #4CAF50;
    color: white;
  }

.button_save:focus {
    background-color: #4CAF50;
    color: white;
}